<?xml version="1.0"?>
<launch>
  <include file="$(find prl_ur5_run)/launch/real.launch">
    <arg name="sensors" value="true"/>
  </include>

  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="left_camera/color"/>
    <arg name="image" value="image_rect_color"/>
    <arg name="dictionary" value="0"/>
    <arg name="fiducial_len" value="0.12"/>
  </include>

  <node name="visp_hand2eye_calibration_calibrator" pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator"/>
</launch>
