<?xml version="1.0"?>
<launch>
    <arg name="recover" default="False" doc="Recover measures from a previous run if possible"/>
    <arg name="compute_only" default="False" doc="Only read from the existing measure file and do the computation"/>
    <arg name="config_file" default="files/configuration.yaml" doc=""/>

    <!-- Upload urdf/srdf for hpp -->
    <include file="$(find prl_pinocchio)/launch/upload_ur5.launch"/>

    <!-- Publish 2 empty messages to avoid visp_hand2eye_calibration_calibrator to wait for topics -that are unused anyway- and spam warning messages -->
    <node pkg="rostopic" type="rostopic" name="rostopic_pub_camera_object"  args="pub /camera_object  geometry_msgs/Transform '{translation: {x: 0,y: 0,z: 0}, rotation:{x: 0,y: 0,z: 0}}'"/>
    <node pkg="rostopic" type="rostopic" name="rostopic_pub_world_effector" args="pub /world_effector geometry_msgs/Transform '{translation: {x: 0,y: 0,z: 0}, rotation:{x: 0,y: 0,z: 0}}'"/>

    <!-- hand2eye calibration service -->
    <node name="visp_hand2eye_calibration_calibrator" pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator"/>

    <!-- VISP tracker-->
    <!-- Using a proxy bash script is mandatory since ViSP ouptut a lot of 'garbage' on stderr
    and ROS is unable to capture it to a log file (even with output="log") -->
    <node name="visp_auto_tracker_silent_run" pkg="prl_ur5_calibration" type="visp_auto_tracker_silent_run.sh" output="log"
        args="/visp_auto_tracker/image_raw:=/left_camera/color/image_raw \
        /visp_auto_tracker/camera_info:=/left_camera/color/camera_info \
        _model_path:=$(find prl_ur5_calibration)/files/models \
        _model_name:=april_pattern \
        _debug_display:=true" />

    <!-- Run calibration node -->
    <node pkg="prl_ur5_calibration" type="run_calibration.py" name="$(anon run_calibration.py)" output="screen">
        <param name="config_file" value="$(arg config_file)"/>
        <param name="recover" value="$(arg recover)"/>
        <param name="compute_only" value="$(arg compute_only)"/>
    </node>
</launch>
